table.table.table-striped.table-sm.table-dark.table-bordered(style='width.text-center:100%')
  th.text-centeread
    tr
      th.text-center(scope='col') #
      th.text-center Signal
      th.text-center Last
      th.text-center RSI 0
      th.text-center RSI 1
      th.text-center BB Lower
      th.text-center BB Upper
      th.text-center Period
      th.text-center Time
  if signals
    tbody
      for d in signals
        tr
          th.text-center(scope='row')=d.numerator + '/' + d.denominator
          if d.buyflag
            td.text-right.text-success BUY
          else if d.sellflag 
            td.text-right.text-danger SELL
          td.text-right=fn.formatMoney(d.last, 4)
          td.text-right=fn.formatMoney(d.rsi0, 4)
          td.text-right=fn.formatMoney(d.rsi1, 4)
          td.text-right=fn.formatMoney(d.bblower, 4)
          td.text-right=fn.formatMoney(d.bbupper, 4)
          td.text-right=d.period
          td.text-right=fn.timeToDate(d.time, true)
          