extends ./layout

block content
  .container-fluid.p-3
    .row
      .col-md-8.offset-md-2
        .row
          .col-md-3.text-left
            a.text-info(href='/' role='button') BitTrader
            br
            small.text-light=fn.version
          .col-md-3.text-right.offset-md-6
            if user
              span.text-light.font-italic=fn.username
              br
              a.text-warning(href='/trade' role='button') Trade  |  
              a.text-success(href='/balance' role='button') Balance  |  
              a.text-danger(href='/logout' role='button') Logout
            else 
              a.text-danger(href='/login' role='button') Login
    br
    br
    .row
      .col-md-8.offset-md-2
        .card.card-body
          a.btn.btn-warning(data-toggle='collapse' href='#signals' role='button' aria-expanded='true' aria-controls='signals') # Signals #
          #signals.collapse.show.table-responsive
            table.table.table-striped.table-sm.table-dark.table-bordered(style='width:99%')
              th.text-centeread
                tr
                  th.text-center(scope='col') #
                  th.text-center Signal
                  th.text-center Period
                  th.text-center Check
                  th.text-center Last
                  th.text-center RSI Pre
                  th.text-center RSI Last
                  th.text-center BB Lower
                  th.text-center BB Upper
                  th.text-center Time
              if signals
                tbody
                  for d in signals
                    tr
                      th.text-center(scope='row')=d.pair
                      if d.buysignal
                        td.text-center.text-success BUY
                      else if d.sellsignal 
                        td.text-center.text-danger SELL
                      td.text-center=d.timeframe + '/' + d.period
                      td.text-center=d.rsilow + '/' + d.rsiupper + '/' + d.stddev
                      td.text-right=fn.formatMoney(d.last, 4)
                      td.text-right=fn.formatMoney(d.rsipre, 4)
                      td.text-right=fn.formatMoney(d.rsilast, 4)
                      td.text-right=fn.formatMoney(d.bblower, 4)
                      td.text-right=fn.formatMoney(d.bbupper, 4)
                      td.text-right=fn.timeToDate(d.time)
                      
      

        