extends ./layout

block content
  .container-fluid.p-3
    .row
      .col-md-8.offset-md-2
        .row
          .col-md-3.text-left
            a.text-info(href='/' role='button') BitTrader
            br
            small.text-light=fn.version
          .col-md-6.text-center
            p#time.text-warning=fn.timeToDate(new Date().getTime(), true)
          .col-md-3.text-right
            span.text-light.font-italic=fn.username
            br
            a.text-warning(href='/trade' role='button') Trade  |  
            a.text-success(href='/balance' role='button') Balance  |  
            a.text-danger(href='/logout' role='button') Logout
    br
    br
    if trades
      for trade in trades
        if trade.trades.length > 0 
          - let amount = 0
          - let cost = 0
          - let buycost = 0
          - let sellcost = 0
          for tx in trade.trades
            if "BUY" == tx.side.toUpperCase()
              - amount = amount + tx.amount
              - cost = cost - tx.cost
              - buycost = buycost + tx.cost
            else if "SELL" == tx.side.toUpperCase()
              - amount = amount - tx.amount
              - cost = cost + tx.cost
              - sellcost = sellcost + tx.cost
          - let percent = "SELL" == trade.trades[0].side.toUpperCase() ? sellcost / buycost * 100 : 0
          - percent = percent == 0 ? percent : percent - 100
          .col-md-8.offset-md-2
            .card.card-body
              if percent > 0
                a.btn.btn-success(data-toggle='collapse' href='#' + trade.symbol role='button' aria-controls=trade.symbol)= '# ' + trade.pair + ' # (' + fn.formatMoney(cost, 4) + ' / ' + fn.formatMoney(percent, 2) + '%)'
              else if percent < 0
                a.btn.btn-danger(data-toggle='collapse' href='#' + trade.symbol role='button' aria-controls=trade.symbol)= '# ' + trade.pair + ' # (' + fn.formatMoney(cost, 4) + ' / ' + fn.formatMoney(percent, 2) + '%)'
              else
                a.btn.btn-warning(data-toggle='collapse' href='#' + trade.symbol role='button' aria-controls=trade.symbol)= '# ' + trade.pair + ' #'
              .collapse.table-responsive(id=trade.symbol)
                table.table.table-striped.table-sm.table-dark.table-bordered(style='width:99%')
                  th.text-centeread
                    tr
                      th.text-center(scope='col') #
                      th.text-center Price
                      th.text-center Amount
                      th.text-center Cost
                      th.text-center Time
                  tbody
                    for tx in trade.trades
                      tr
                        if "BUY" == tx.side.toUpperCase()
                          td.text-center.text-success BUY
                        else if "SELL" == tx.side.toUpperCase()
                          td.text-center.text-danger SELL
                        td.text-right=fn.formatMoney(tx.price, 4)
                        td.text-right=fn.formatMoney(tx.amount, 4)
                        td.text-right=fn.formatMoney(tx.cost, 4)
                        td.text-left=fn.timeToDate(tx.timestamp)       


